/* google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
  --backgroundColor: #36454F;
}

body {
  background: var(--backgroundColor);
  color: #f1f1f1;
  margin: 0;
  font-family: "Montserrat";
}

header {
  background: var(--backgroundColor);
  color: #f1f1f1;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #f1f1f1;
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}


/* navbar */
nav {
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 10px;
}

/* auth forms */
form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  /* background: #668295; */
  border-radius: 4px;
}
/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 80px;
}

@media (max-width: 900px) {
  .home {
    grid-template-columns: 2.5fr 1.5fr;
    gap: 80px;
  }
}

@media (max-width: 600px) {
  .home {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  border-left: 6px solid var(--primary);
}

.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.workout-details button {
  position: absolute;
    top: 0;
    right: 0;
    background: var(--error);
    color: black;
    border: none;
    padding: 12px 8px;
    text-align: center;
    line-height: 0;
    font-size: 0.9em;
    cursor: pointer;
}

/* New-workout form */

label,
input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: #989898;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Montserrat";
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

div.error {
  color: var(--error);
  margin: 20px 0;
  font-weight: bold;
  font-size: 1.2rem;
}

input.error {
  border: 1.5px outset var(--error);
}

/* Footer */

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
}

.footer a {
  color: #989898;
  text-decoration: none;
}

.footer .year {
  font-size: 0.8rem;
}

.footer .projects {
  margin: 10px 0;
}
